body {
    background-color: #edf6f9;
}
#second_header {
    text-align: center;
}

#food {
    text-align: center;
}
#main_lasagna {
    text-align: center;
}
#lasagna_dis {
    text-align: center;
}
#food_that {
    text-align: center;
}
#love {
    text-align: center;
}